extends layout/layout.pug

block vars
	-title = 'Mogo Template'
	-bodyClass = 'home-page'

block container
	block about
		include ./blocks/about
	block award
		include ./blocks/award
	block service
		include ./blocks/service
	block device
		include ./blocks/device
	block whatwedo
		include ./blocks/whatwedo
	block speech
		include ./blocks/speech
	block whoweare
		include ./blocks/whoweare
	block logo
		include ./blocks/logo
	block work
		include ./blocks/work
	block work
		include ./blocks/affirmation
	block peoplesay
		include ./blocks/peoplesay
	block blog
		include ./blocks/blog
	block openmap
		include ./blocks/openmap