.header{
    min-height: 1000px;
    background: linear-gradient(
        to bottom, 
        rgba($primary-color, 0.8), 
        rgba($secondary-color, 0.8)
    ), 
    url('../images/img-header-bg.jpg') no-repeat center / cover;
    &-top{
        @include flex(space-between, stretch);
        padding: 2.4rem 0;
        &__logo{
            @include flex(center, center);
            font-size: 3rem;
            font-weight: 600;
            color: $content-white-color;
        }
        &__toggle{
            font-size: 3rem;
            display: none;
        }
        &__menu{
            @include flex(flex-start, center);
        }
        &__item{
            &:last-child{
                .header-top__link{
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        }
        &__link{
            display: block;
            padding: 1rem 0;
            margin: 0 2.8rem;

            font-size: 1.4rem;
            color: $content-white-color;
            text-transform: uppercase;

            border-bottom: 3px solid transparent;
            transition: .3s all linear;
            &:hover{
                border-color: #fce38a;
                color: #fce38a;
            }
        }
        &__icon:hover{
            border-color: transparent;
        }
        @media screen and (max-width: 799px) {
            &__toggle{
                cursor: pointer;
                display: block;
                color: $content-white-color;
            }
            &__menu{
                position: fixed;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 10;
                transform: translateX(100%);
                transition: transform .3s ease-in;

                @include flex(flex-start, flex-start, nowrap, column);
                min-width: 30rem;
                padding: 2rem;

                background-color: $content-white-color;
                &.is-expand{
                    transform: translateX(0);
                }
            }
            &__item{
                width: 100%;
                &:last-child{
                    .header-top__link{
                        padding-right: 0;
                        margin-right: 0;
                    }
                }
            }
            &__link{
                padding: 1rem;
                margin: 0;
    
                border: none;
                border-radius: 2px;
                transition: .3s all linear;

                color: black;
                &:hover{
                    background-color: $secondary-color;
                    color: $content-white-color;
                }
            }
            &__icon:hover{
                border-color: transparent;
            }
        }
        @media screen and (max-width: 500px) {
            &__menu{
                min-width: 25rem;
            }
        }
    }
    &-content{
        max-width: 80rem;
        margin: 0 auto;
        padding-top: 13.6rem;
        padding-bottom: 15rem;
        color: $content-white-color;
        &__title{
            font-size: 7.2rem;
            font-family: $third-font;
            text-align: center;
        }
        &__content{
            position: relative;

            padding: 5rem 0;

            font-size: 15rem;
            font-family: $primary-font;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            &::after{
                content: "";
                @include absoluteCenter('left');
                bottom: 0;

                height: 0.3rem;
                width: 6rem;
                background-color: $content-white-color;
            }
        }
        &__btn{
            @include flex(center, center);
            button{
                cursor: pointer;

                padding: 1rem 3rem;
                margin-top: 5rem;

                border: 3px solid $content-white-color;
                outline: none;
                color: $content-white-color;
                background-color: transparent;

                font-size: 1.4rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        @media screen and (max-width: 1023px) {
            padding-top: 10rem;
            padding-bottom: 10rem;
            &__title{
                font-size: 5rem;
            }
            &__content{
                font-size: 10rem;
            }
        }
        @media screen and (max-width: 687px) {
            padding-top: 8rem;
            padding-bottom: 8rem;
            &__title{
                font-size: 3rem;
            }
            &__content{
                font-size: 5rem;
                padding: 2rem;
            }
            &__btn{
                button{
                    padding: 0.8rem 1.8rem;
                    margin-top: 2rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
    &-bottom{
        @include flex(space-between, center);
        &__item{
            position: relative;

            cursor: pointer;

            padding: 2rem 0;
            width: calc(25% - 2.25rem);

            font-family: $primary-font;
            color: $content-white-color;

            border-top: 3px solid $content-white-color;
            transition: .3s all linear;
            opacity: 0.6;
            &:hover,
            &.active{
                opacity: 1;
                &:after{
                    content: "";
                    position: absolute;

                    height: 3px;
                    width: 7rem;
                    background-color: $primary-color;

                    top: 0;
                    left: 0;
                    transform: translateY(-100%);
                }
            }
        }
        &__number{
            font-size: 2.4rem;
            padding-right: 0.8rem;
        }
        &__title{
            font-size: 1.8rem;
            text-transform: uppercase;
        }
        @media screen and (max-width: 687px) {
            &__item{
                width: calc(25% - 1rem);
                &:hover,
                &.active{
                    &:after{
                        width: 3rem;
                    }
                }
            }
            &__number{
                font-size: 1.5rem;
                padding-right: 0.3rem;
            }
            &__title{
                font-size: 1.2rem;
                text-transform: uppercase;
            }
        }
        @media screen and (max-width: 413px) {
            &__item{
                width: calc(25% - 0.5rem);
                &:hover,
                &.active{
                    &:after{
                        width: 2rem;
                    }
                }
            }
            &__number{
                font-size: 1.2rem;
                padding-right: 0.2rem;
            }
            &__title{
                font-size: 1rem;
                text-transform: uppercase;
            }
        }
    }
    @media screen and (max-width: 799px) {
        min-height: 600px;
    }
}
