.whatwedo{
    margin-bottom: 12rem;
    &__container{
        @include flex(flex-start, stretch)
    }
    &__left, &__right{
        width: 50%;
    }
    &__left{
        padding-right: 3rem;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    &-item{
        &.is-active{
            .whatwedo-item__content{
                display: block;
                height: 18.8rem;
            }
        }
        &:not(:last-child){
            margin-bottom: 1rem;
        }
        &__header{
            cursor: pointer;
            @include flex(flex-start, center);
            padding: 1.2rem 1.6rem;
            border: 1px solid #e5e5e5;
        }
        &__icon{
            padding-right: 1.2rem;
        }
        &__title{
            padding-right: 1.2rem;

            font-family: $primary-font;
            color: $title-color;
            font-weight: 600;
            font-size: 1.4rem;
            text-transform: uppercase;
            @include textClamp(1);
        }
        &__toggle{
            margin-left: auto;
            font-size: 2rem;
            color: #d0d0d0;
        }
        &__content{
            padding: 2rem;
            border: 1px solid #e5e5e5;
            border-top: none;
            .whatwedo-item__inner{
                height: 14rem;
                padding-right: 2.4rem;

                font-family: $secondary-font;
                font-size: 15px;
                font-weight: 300;
                font-style: italic;
                color: $content-gray-color;

                overflow: auto;
                /* width */
                &::-webkit-scrollbar {
                    width: 5px;
                    border-radius: 4px;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f5f5f5;
                    border-radius: 4px;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: $third-color;
                    border-radius: 4px;
                }
            }
            // Animations
            display: none;
            min-height: 0rem;
            transition: all .3s linear;
        }
    }
    @media screen and(max-width: 1023px) {
        &__left{
            padding-right: 1rem;
        }
    }
    @media screen and(max-width:799px) {
        &__container{
            @include flex(flex-start, flex-start, nowrap, column);
            margin-top: -5rem;
        }
        &__left, &__right{
            width: 100%;
        }
        &__left{
            padding-right: 0rem;
            margin-bottom: 2.5rem;
            @include flex(center, flex-start, nowrap, row);
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    @media screen and(max-width:767px) {
        &__container{
            margin-top: -2rem;
        }
    }
}