section.about
    .container
        +blockHeader('What we do', 'Story about us', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit esse deserunt autem error voluptate ratione fuga libero fugiat minima? Nihil fugiat, aut possimus suscipit asperiores nulla animi recusandae repellendus amet.')
        .about__list
            +aboutItem("./images/img-about1.png", "fa-solid fa-people-group", "Super team")
            +aboutItem("./images/img-about2.png", "fa-solid fa-people-group", "Super team")
            +aboutItem("./images/img-about3.png", "fa-solid fa-people-group", "Super team")