section.award
    .container
        .award__list
            .award__item
                h1.award__number 42
                h2.award__category Web design projects
            .award__item
                h1.award__number 123
                h2.award__category happy client
            .award__item
                h1.award__number 15
                h2.award__category award winner
            .award__item
                h1.award__number 99
                h2.award__category cup of coffee
            .award__item
                h1.award__number 24
                h2.award__category member