section.blog
    .container
        +blockHeader('Our stories', 'latest blog')
        .blog__list
            +blogItem("./images/img-blog1.png", "Lorem ipsum dolor sit amet", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium soluta saepe, ipsa deserunt quo neque.", 15, 'jan')
                +blogInteractGroup("fa-solid fa-eye", 542)
                +blogInteractGroup("fa-solid fa-comment-dots", 17)
            +blogItem("./images/img-blog2.png", "Lorem ipsum dolor sit amet", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium soluta saepe, ipsa deserunt quo neque.", 14, 'jan')
                +blogInteractGroup("fa-solid fa-eye", 542)
                +blogInteractGroup("fa-solid fa-comment-dots", 17)
            +blogItem("./images/img-blog3.png", "Lorem ipsum dolor sit amet", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium soluta saepe, ipsa deserunt quo neque.", 12, 'jan')
                +blogInteractGroup("fa-solid fa-eye", 542)
                +blogInteractGroup("fa-solid fa-comment-dots", 17)
