footer
    .container
        +footerSection1("MoGo", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error corporis omnis illum ut totam consectetur perferendis est distinctio quia numquam adipisci, voluptatem dicta nulla odit laborum delectus eveniet inventore aspernatur!",15000)
            +socialItem("#linkfb", "fa-brands fa-facebook-f")
            +socialItem("#linktwitter", "fa-brands fa-twitter")
            +socialItem("#linkinstagram", "fa-brands fa-instagram")
            +socialItem("#linkpinterest", "fa-brands fa-pinterest-p")
            +socialItem("#linkgoogleplus", "fa-brands fa-google-plus-g")
            +socialItem("#linkyoutube", "fa-brands fa-youtube")
            +socialItem("#linkdribbble", "fa-brands fa-dribbble")
            +socialItem("link tiktok", "fa-brands fa-tiktok")
        .section.section2
            .section2__title Blogs
            .section2-blog__list
                +footerBlogItem("./images/img-blogs1.png", "Lorem, ipsum dolor sit amet consectetur.", "Jan 9, 2016", "#bloglink")
                +footerBlogItem("./images/img-blogs2.png", "Lorem, ipsum dolor sit amet consectetur.", "Jan 9, 2016", "#bloglink")
                +footerBlogItem("./images/img-blogs3.png", "Lorem, ipsum dolor sit amet consectetur.", "Jan 9, 2016", "#bloglink")
        .section.section3
            .section3__title Instagram
            .section3__list
                img(src="./images/img-blogs1.png", alt="").section3__item
                img(src="./images/img-blogs2.png", alt="").section3__item
                img(src="./images/img-blogs3.png", alt="").section3__item
                img(src="https://images.unsplash.com/photo-1662790399316-1fe2ac112336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80", alt="").section3__item
                img(src="https://images.unsplash.com/photo-1657664072464-e525da1d426e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80", alt="").section3__item
                img(src="https://images.unsplash.com/photo-1662756226269-ef4e9c8580f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80", alt="").section3__item
                img(src="https://images.unsplash.com/photo-1662788561946-796693862e97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=391&q=80", alt="").section3__item
                img(src="https://images.unsplash.com/photo-1662771551020-476974b63217?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=424&q=80", alt="").section3__item
                img(src="https://images.unsplash.com/photo-1662781281066-b70fa18048b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80", alt="").section3__item
            .section3__more-info View more photos