//- header__top, header__content, header__bottom
header.header
    .container
        .header-top
            a.header-top__logo(href="index.html") MoGo
            <i class="fa-solid fa-bars header-top__toggle"></i>
            li.header-top__menu
                ul.header-top__item
                    a.header-top__link(href="#") About
                ul.header-top__item
                    a.header-top__link(href="#") Service
                ul.header-top__item
                    a.header-top__link(href="#") Work
                ul.header-top__item
                    a.header-top__link(href="#") Blog
                ul.header-top__item
                    a.header-top__link(href="#") Contact
                ul.header-top__item
                    a.header-top__link.header-top__icon(href="#") <i class="fa-solid fa-cart-shopping"></i>
                ul.header-top__item
                    a.header-top__link.header-top__icon(href="#") <i class="fa-solid fa-magnifying-glass"></i>
        .header-content
            h1.header-content__title Creative Template
            h2.header-content__content Welcome to MoGo
            .header-content__btn
                button Learn More
        .header-bottom
            .header-bottom__item.active
                span.header-bottom__number 01
                span.header-bottom__title Intro
            .header-bottom__item
                span.header-bottom__number 02
                span.header-bottom__title Work
            .header-bottom__item
                span.header-bottom__number 03
                span.header-bottom__title About
            .header-bottom__item
                span.header-bottom__number 04
                span.header-bottom__title Contacts
