section.peoplesay
    .container
        +blockHeader('Happy Clients', 'what people say')
        .peoplesay__comments
            +peoplesayComment("./images/img-people1.png", "Mathew Dix", "Grapic Design", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime dicta consequuntur tempora provident, nihil tenetur harum expedita neque quibusdam sequi.")
            +peoplesayComment("https://images.unsplash.com/photo-1662795855010-a595a2ba6265?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", "Nick Karvounis", "Grapic Design", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime dicta consequuntur tempora provident, nihil tenetur harum expedita neque quibusdam sequi.")
            +peoplesayComment("https://images.unsplash.com/photo-1662671541720-bdcac1cf530b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80", "Jaelynn Castillo", "Grapic Design", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime dicta consequuntur tempora provident, nihil tenetur harum expedita neque quibusdam sequi.")
            +peoplesayComment("./images/img-people4.png", "Mike Petrucci", "Grapic Design", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime dicta consequuntur tempora provident, nihil tenetur harum expedita neque quibusdam sequi.")
