section.service 
    .container 
        +blockHeader('We work with', 'amazing services')
        .service__container 
            .service__list 
                .service-item 
                    .service-item__left
                        img.service-item__icon(src='./images/amazing_icon1.png')
                    .service-item__right
                        .service-item__title Photography
                        .service-item__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis.
                .service-item 
                    .service-item__left
                        img.service-item__icon(src='./images/amazing_icon2.png')
                    .service-item__right
                        .service-item__title Web design
                        .service-item__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis.
                .service-item 
                    .service-item__left
                        img.service-item__icon(src='./images/amazing_icon3.png')
                    .service-item__right
                        .service-item__title Creativity
                        .service-item__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis.
            .service__list 
                .service-item 
                    .service-item__left
                        img.service-item__icon(src='./images/amazing_icon4.png')
                    .service-item__right
                        .service-item__title Seo
                        .service-item__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis.
                .service-item 
                    .service-item__left
                        img.service-item__icon(src='./images/amazing_icon5.png')
                    .service-item__right
                        .service-item__title CSS/HTML
                        .service-item__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis.
                .service-item 
                    .service-item__left
                        img.service-item__icon(src='./images/amazing_icon6.png')
                    .service-item__right
                        .service-item__title Digital
                        .service-item__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis.
