section.whatwedo
    .container
        +blockHeader('Service','What we do','Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos facilis vel tempora quam accusantium tempore deleniti placeat autem animi itaque accusantium tempore deleniti placeat accusantium tempore deleniti placeat')
        .whatwedo__container
            .whatwedo__left
                img(src="./images/img-wedo.png", alt="wedo").whatwedo__image
            .whatwedo__right
                .whatwedo__content
                    .whatwedo-item.is-active
                        .whatwedo-item__header
                            img(src="./images/img-wedo-icon1.png", alt="").whatwedo-item__icon
                            h1.whatwedo-item__title Photography 
                            i(class="fa-solid fa-chevron-up").whatwedo-item__toggle
                        .whatwedo-item__content 
                            .whatwedo-item__inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!
                    .whatwedo-item
                        .whatwedo-item__header
                            img(src="./images/img-wedo-icon2.png", alt="").whatwedo-item__icon
                            h1.whatwedo-item__title Creativity
                            i(class="fa-solid fa-chevron-down").whatwedo-item__toggle
                        .whatwedo-item__content 
                            .whatwedo-item__inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!
                    .whatwedo-item
                        .whatwedo-item__header
                            img(src="./images/img-wedo-icon3.png", alt="").whatwedo-item__icon
                            h1.whatwedo-item__title Web design
                            i(class="fa-solid fa-chevron-down").whatwedo-item__toggle
                        .whatwedo-item__content 
                            .whatwedo-item__inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde, optio voluptatum quas ratione voluptates nihil quis fugiat totam quam, voluptatibus fugit corrupti assumenda velit? Neque natus tenetur iste animi!

                        

