section.whoweare
    .container
        +blockHeader('Who we are', 'Meet our team', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eveniet aperiam repudiandae consequuntur quam accusantium, dicta porro nihil dolorem perspiciatis.')
        .whoweare__list
            +whoweareItem("./images/img-team1.png", "Matthew Dix", "Graphic Desgin", "#linkfacebook")
            +whoweareItem("./images/img-team2.png", "Christopher Campbell", "Branding/UX design")
            +whoweareItem("https://images.unsplash.com/photo-1662667465161-d853dfa901ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", "Michael Fertig", "Developer")