section.work
    +blockHeader('What we do', 'Some of out work','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus reiciendis laudantium eaque excepturi est cum cupiditate vero libero fugiat quasi!')
    .work-image__list
        +workItem("./images/img-work1.png", "./images/img-work-icon.png", "Creative header", "Lorem ipsum dolor sit amet consectetur.")
        +workItem("./images/img-work2.png", "./images/img-work-icon.png", "Creative header", "Lorem ipsum dolor sit amet consectetur.")
        +workItem("./images/img-work3.png", "./images/img-work-icon.png", "Creative header", "Lorem ipsum dolor sit amet consectetur.")
        +workItem("./images/img-work4.png", "./images/img-work-icon.png", "Creative header", "Lorem ipsum dolor sit amet consectetur.")
        +workItem("./images/img-work5.png", "./images/img-work-icon.png", "Creative header", "Lorem ipsum dolor sit amet consectetur.")
        +workItem("./images/img-work6.png", "./images/img-work-icon.png", "Creative header", "Lorem ipsum dolor sit amet consectetur.")
        +workItem("./images/img-work7.png", "./images/img-work-icon.png", "Creative header", "Lorem ipsum dolor sit amet consectetur.")
    