.bg-top {
  background-color: $color-bg-top;
}
.bg-bottom {
  background: $color-bg-bottom;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.uppercase {
  text-transform: uppercase;
}
