// Colors
$color-bg-top: #f7f5f1;
$color-bg-bottom: #292f3a;
$color-light-gray: #7b88a8;
$color-gray: #2d3958;
$color-white: #fff;
$color-white-ea: #e7e5ea;
$color-black: #000000;
$color-blue: #4f77ff;
$color-orange: #f9c45c;
// Font
$font-family-dmsans: "DM Sans", sans-serif;
$font-family-outfit: "Outfit", sans-serif;
