// Colors
$primary-color: #e88282;
$secondary-color: #efd889;
$third-color: #95e1d3;
$title-color: #333333;
$content-gray-color: #999999;
$content-white-color: #ffffff;
$btn-grey-color: #cccccc;
// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$third-font: 'Kaushan Script', cursive;
// Width:
$wrapper: 1920px;
$container: 1200px;

