section.cta.bg-top
    //- BG
    img(srcSet="./images/Shapes2.png 2x", alt="").cta-bg
    .cta-container
        .cta-header(style="margin-bottom: 30px; max-width: 870px") We design & develop transformative user experiences from Silicon Valley
        .cta-subheader(style="margin-bottom: 50px") Are you ready to start your project? Contact us today and get started!
        button.btn Get started