footer.footer.bg-bottom
    .container
        .footer-container
            .footer-column 
                +logo
            .footer-column
                .footer-head Company
                .footer-links
                    a(href="#").footer-link About
                    a(href="#").footer-link Work
                    a(href="#").footer-link Careers
                    a(href="#").footer-link Pricing
                    a(href="#").footer-link Blog
            .footer-column
                .footer-head Company
                .footer-links
                    a(href="#").footer-link About
                    a(href="#").footer-link Work
                    a(href="#").footer-link Careers
                    a(href="#").footer-link Pricing
                    a(href="#").footer-link Blog
            .footer-column
                .footer-head Company
                .footer-links
                    a(href="#").footer-link About
                    a(href="#").footer-link Work
                    a(href="#").footer-link Careers
                    a(href="#").footer-link Pricing
                    a(href="#").footer-link Blog
            .footer-column 
                .footer-head Newsletter
                .newsletter-text Subscribe to our newsletter to keep up to date on our marketing, website, design services, and tips.
                .newsletter-form
                    input(type="text" placeholder="Enter email").newsletter-input
                    button.newsletter-button Submit
                .newsletter-subtext We hate spam as much as you do. We will never, ever send you such emails.   
        .footer-copyright
            span © 2022 Pollock LLC. All Rights Reserved. Terms & Conditions. Privacy Policy.
            ul.footer-socials 
                button.footer-social
                    img(src="./images/facebook.svg", alt="facebook")
                button.footer-social
                    img(src="./images/twitter.svg", alt="twitter")
                button.footer-social 
                    img(src="./images/linkedin.svg", alt="linkedin")