.hero
    //- Backgound shape
    img(srcSet="./images/shapes.png 2x", alt="shapes").hero-shape
    a.hero-down(href="#info") ↓
    .container.hero-container
        .hero-content
            h1.hero-header 
                | Branding to fuel your growth 
                span goals & ideas.
            p.hero-text
                | We're a digital product and UX agency in San Francisco. Strategy, design, and development across all platforms.
            .hero-functions
                button.btn
                    | Get started 
                button.btn-play
                    img(src="./images/fi_play.svg", alt="")
                a(href="").hero-how How it works
        .hero-img
            img(srcSet="./images/portrait.png 2x", alt="portrait")
             
            