section.products.bg-top
    .container.products-container 
        h1.section-header Digital products that people love to use
        p.section-subheader Applying behavioral science to customer experience
        .products-items-container
            .products-item 
                .products-image
                    img(src="./images/Product1.png", alt="")
                .products-content
                    h1.products-header Web3 Experience Design
                    p.products-subheader In the new digital era, users are in control of content and community, and experience design is essential.
                    .details
                        .details-item 
                            img(src="./images/Icon1.png", alt="")
                            div.details-content
                                h1.details-title Design & Development Systems
                                p.details-text Chat, start meetings or join them with a click from within your conversation.
                        .details-item 
                            img(src="./images/Icon2.png", alt="")
                            div.details-content
                                h1.details-title Design & Development Systems
                                p.details-text Chat, start meetings or join them with a click from within your conversation.
                        .details-item 
                            img(src="./images/Icon3.png", alt="")
                            div.details-content
                                h1.details-title Design & Development Systems
                                p.details-text Chat, start meetings or join them with a click from within your conversation.
            .products-item.reverse 
                .products-image
                    img(src="./images/Product2.png", alt="")
                .products-content
                    h1.products-header We create world-class products
                    p.details-text(style="margin-bottom: 20px;") We're a web design agency creating next‑level websites by strategically blending user experience and brand storytelling.
                    p.details-text Our full‑stack design and development agency based in San Francisco provides front‑end and back‑end development services working closely with our designers. As a UX UI and app development company, we build native mobile apps for iOS and Android, web applications, apps for wearables, and B2B/enterprise software.
            .products-item 
                .products-image 
                    img(src="./images/Product3.png", alt="")
                .products-content
                    h1.products-header UI/UX design and branding agency
                    p.details-text(style="margin-bottom: 20px;") We start each new digital product design partnership with an in‑depth discovery phase to immerse ourselves in your business. Our UX/UI designers interview stakeholders, conduct user research, analyze your competition, and consolidate content.
                    p.details-text The result is an action plan on executing a holistic brand and user experience.
                    div
                        button.btn Our services
